rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are insecure and are meant for development only.
    // They allow any authenticated user to read and write all data.
    // You MUST deploy the secure rules before going to production.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
